.Container {
  background-color: black;
  color: #f0f2f6;

  height: 100vh;
}

.MainContent {
  padding: 50px;

  display: flex;
  justify-content: space-between;
}

.GraphContainer {
  height: 250px;
  width: 500px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #f0f2f6;
}

.FeedsContainer {
  min-width: 600px;
}

.FeedContent {
  height: 90%;
  width: 100%;
  padding-left: 30px;
  padding-top: 10px;
  padding-right: 30px;
}

.FeedCardFlex {
  padding-top: 12px;
  padding-bottom: 12px;
  align-items: center;
  border-bottom: 1px solid;
  display: flex;
  font-size: 22px;
  justify-content: space-around;
}

.feedCard {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid;
  font-size: 22px;
}
